examples/flow.json
[
    {
        "id": "4923fb5a.9f0874",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "getRotationStatus",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"getRotationStatus\"}",
        "payloadType": "json",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "8ed29d97.61982",
        "type": "debug",
        "z": "b2b5b448.f36a18",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 820,
        "wires": []
    },
    {
        "id": "a8ea472d.2d5398",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "getFanSpeed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"getFanSpeed\"}",
        "payloadType": "json",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "5f62a791.84ef08",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "getAirQuality",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"getAirQuality\"}",
        "payloadType": "json",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "d90ca25d.2f65c",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "getTemperature",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"getTemperature\"}",
        "payloadType": "json",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "a2dab049.c7125",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "getFanStatus",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"getFanStatus\"}",
        "payloadType": "json",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "b71e8399.da3a1",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "turnOn",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"turnOn\"}",
        "payloadType": "json",
        "x": 130,
        "y": 1120,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "2265b470.20b52c",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "turnOff",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"turnOff\"}",
        "payloadType": "json",
        "x": 130,
        "y": 1160,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "93dcfa0d.bb3198",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "setHeatOn",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"setHeatOn\"}",
        "payloadType": "json",
        "x": 140,
        "y": 1040,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "d34257a.0d339a8",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "setHeatOff",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"setHeatOff\"}",
        "payloadType": "json",
        "x": 140,
        "y": 1080,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "c0fe7f41.70986",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "setFanSpeed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"setFanSpeed\", \"speed\":\"100\"}",
        "payloadType": "json",
        "x": 150,
        "y": 920,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "4d261016.a2bda",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "setRotation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"setRotation\", \"rotation\":true}",
        "payloadType": "json",
        "x": 150,
        "y": 840,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "fab8c74880f55cb2",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "setRotationAngle",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"setRotationAngle\", \"min_angle\": 90, \"max_angle\": 135}",
        "payloadType": "json",
        "x": 160,
        "y": 880,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "faf0c7b5b0e78221",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "getRelativeHumidity",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"getRelativeHumidity\"}",
        "payloadType": "json",
        "x": 170,
        "y": 640,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "8a0a9af6cb07989d",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "getNightModeStatus",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"getNightModeStatus\"}",
        "payloadType": "json",
        "x": 170,
        "y": 760,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "0859b7bb5aaf0d85",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "setNightModeOn",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"setNightModeOn\"}",
        "payloadType": "json",
        "x": 160,
        "y": 960,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "c6b4d20b25a59070",
        "type": "inject",
        "z": "b2b5b448.f36a18",
        "name": "setNightModeOff",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"action\":\"setNightModeOff\"}",
        "payloadType": "json",
        "x": 160,
        "y": 1000,
        "wires": [
            [
                "e7e7558ea110daf2"
            ]
        ]
    },
    {
        "id": "e7e7558ea110daf2",
        "type": "dyson-link",
        "z": "b2b5b448.f36a18",
        "confignode": "9c878672.2ae868",
        "device": "My Dyson",
        "ip": "10.0.0.1",
        "deviceserial": "VS8-EU-123456",
        "action": "",
        "name": "",
        "value": 0,
        "x": 460,
        "y": 820,
        "wires": [
            [
                "8ed29d97.61982"
            ]
        ]
    },
    {
        "id": "9c878672.2ae868",
        "type": "dyson-config",
        "z": "",
        "username": "dyson@example.com",
        "password": "mypassword",
        "country": "NL"
    }
]